.models/TTS/best_model.pth filter= diff= merge= -text
.models/coqui/models/English/[[:space:]]STT/[[:space:]]v1.0.0-huge-vocab/huge-vocabulary.scorer filter= diff= merge= -text
. !text !filter !merge !diff
