.models/TTS/best_model.pth filter=lfs diff=lfs merge=lfs -text
.models/coqui/models/English/[[:space:]]STT/[[:space:]]v1.0.0-huge-vocab/huge-vocabulary.scorer filter=lfs diff=lfs merge=lfs -text
. !text !filter !merge !diff

